.modal-content {
  background-color: #202940 !important;
  border-radius: 0px !important;
  color: #fff !important;
}

.modal-header {
  background-color: #862ea0;
  color: #fff !important;
}

form sup {
  color: red !important;
}

#login form input {
  background-color: transparent !important;
}
